<!DOCTYPE html>
<html>
  <head>
    <title>Financial Portfolio Tracker</title>
  </head>
  <body>
    <h1>Welcome to the Financial Portfolio Tracker</h1>
    <p>Select a company from the list to view its details:</p>
    
<p> {{apple_info.longBusinessSummary}}</p>

<h3>api with FTSE 100 companies hard to find.. can list manually but pandas datareader might help</h3>
    <ul>
      <li><a href="/company/AAL">American Airlines Group Inc.</a></li>
      <li><a href="/company/BA">The Boeing Company</a></li>
      <li><a href="/company/CMCSA">Comcast Corporation</a></li>
    </ul>
  </body>
</html>

