<!DOCTYPE html>
<html>
  <head>
    <title>Financial Portfolio Tracker</title>
  </head>
  <body>
    <h1>Welcome to the Financial Portfolio Tracker</h1>
    <p>Select a company from the list to view its details:</p>
    
    <ul>
        {% for company in companies_info %}
            <li>
              <a href="{{ url_for('company', symbol=company.info.symbol) }}">
                <h2>{{ company.name }} ({{ company.info.symbol }})</h2>
                <p>Market Cap: {{ company.info.marketCap }}</p>
                <p>Current Price: {{ company.info.currentPrice }}</p>
                <!-- Add more fields as needed -->
            </li>
        {% endfor %}
    </ul>
  </body>
</html>